<div class="row">
  <div class="col-xs-12">
    <div *ngIf="!isListEmpty" class="clearfix newListButtonContainer">
      <div class="btn btn-primary float-right" (click)="onClearList()">Start a new list</div>
      <!-- should clear the selected items from data store -->
    </div>
  </div>
</div>

<a routerLink="/products/cpu">CPU</a>
<hr>

<a routerLink="/products/gpu">GPU</a>

<ul>
  <li *ngFor="let seledctedItem of selectedItemsList">
    <a *ngIf="seledctedItem.image && !isListEmpty" routerLink="/product/{{seledctedItem.id}}" class="productImagePreviewWrapper">
      <img src="{{seledctedItem.image}}" class="productImagePreview">
    </a>
    <a routerLink="/product/{{seledctedItem.id}}" *ngIf="!isListEmpty">{{seledctedItem.model}}</a>
    <p *ngIf="!isListEmpty">{{seledctedItem.base}}$</p>
    <p *ngIf="!isListEmpty">{{seledctedItem.merchant}}</p>
  </li>
</ul>
