<div class="main-container">

  <div class="saveOrEmptyBuild">
    <div *ngIf="!isListEmpty">
      <button mat-raised-button color="accent" (click)="onClearList()">Start a new list</button>
      <!-- should clear the selected items from data store -->
    </div>

    <div *ngIf="!isListEmpty">
      <button mat-raised-button color="primary" (click)="onSaveList(tableRef)">Save List</button>

    </div>

  </div>

  <mat-table [dataSource]="componentsNames" #tableRef>
    <ng-container matColumnDef="component">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Component</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a routerLink="/products/{{element.route}}">{{element.name}}</a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="selection">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Selection</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a mat-raised-button *ngIf="!element.model" color="primary" routerLink="/products/{{element.route}}">Choose a {{element.name}}</a>
        <a *ngIf="element.productImage" routerLink="/product/{{element.id}}" class="productImagePreviewWrapper">
          <img src="{{element.productImage}}" class="productImagePreview">
        </a>
        <a routerLink="/product/{{element.id}}">{{element.model}}</a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="base">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Base Price</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.base | currency}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="retailer">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Retailer</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.retailer}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="buy">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Buy</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button *ngIf="element.model" mat-raised-button color="accent" (click)="onBuyClick(element.route, element.id)">Buy</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="remove" *ngIf="componentsNames.length!=0">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Remove</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a *ngIf="element.id" (click)="onRemoveClick(element.id)">x</a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- <mat-table *ngIf="selectedItemsList.length!=0" [dataSource]="selectedItemsList" matSort>
    <ng-container matColumnDef="component">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Component</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a routerLink="/products/{{element.route}}">{{element.name}}</a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="selection">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Selection</mat-header-cell>
      <mat-cell *matCellDef="let element">

        <a *ngIf="element.productImage" routerLink="/product/{{element.id}}" class="productImagePreviewWrapper">
          <img src="{{element.productImage}}" class="productImagePreview">
        </a>
        <a routerLink="/product/{{element.id}}">{{element.model}}</a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="base">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Base</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.base | currency }}</mat-cell>
      <td mat-footer-cell *matFooterCellDef> {{totalCost}} </td>
    </ng-container>
    <ng-container matColumnDef="retailer">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Buy From</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.retailer }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="buy">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button color="accent" (click)="onBuyClick(element.route, element.id)">Buy</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="remove">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Remove</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a (click)="onRemoveClick(element.id)">x</a>
      </mat-cell>
    </ng-container> -->


  <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
  <!-- <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row> -->
  <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table> -->

  <!-- <table>

    <tbody>

      <tr *ngFor="let element of selectedItemsList">

        <td>
          <a *ngIf="element.image && !isListEmpty" routerLink="/product/{{element.id}}" class="productImagePreviewWrapper">
            <img src="{{element.image}}" class="productImagePreview">
          </a>
          <a routerLink="/product/{{element.id}}" *ngIf="!isListEmpty">{{element.model}}</a>
        </td>
        <td>
          <p *ngIf="!isListEmpty">{{element.base}}$</p>
        </td>
        <td>
          <p *ngIf="!isListEmpty">{{element.retailer}}</p>
        </td>
        <td>
          <p *ngIf="!isListEmpty">
            <button mat-raised-button color="primary" (click)="onBuyClick(element.route, element.id)">Buy</button>
          </p>
        </td>
      </tr>


    </tbody>
  </table> -->

  <!-- <ul>
    <li *ngFor="let seledctedItem of selectedItemsList">
      <a *ngIf="seledctedItem.image && !isListEmpty" routerLink="/product/{{seledctedItem.id}}" class="productImagePreviewWrapper">
        <img src="{{seledctedItem.image}}" class="productImagePreview">
      </a>
      <a routerLink="/product/{{seledctedItem.id}}" *ngIf="!isListEmpty">{{seledctedItem.model}}</a>
      <p *ngIf="!isListEmpty">{{seledctedItem.base}}$</p>
      <p *ngIf="!isListEmpty">{{seledctedItem.retailer}}</p>
    </li>
  </ul> -->

</div>
