a {
  color: #007bff;
}
.productImagePreview {
  height: 40px;
}

.productImagePreviewWrapper {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  padding: 4px;
  background: white;
  border: 1px solid #d4d4d4;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}

.mat-row {
  padding: 5px 0;
}

.saveOrEmptyBuild {
  display: flex;
  justify-content: space-between;
}
