<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Model</th>
      <th scope="col">Price</th>
      <th scope="col">Add</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of itemList" #newPart>
      <td>
        <p>{{item.model}}</p>
      </td>
      <td>
        <p>{{item.base}}</p>
      </td>
      <td>
        <p>
          <a (click)="onAddPart(item)" class="btn btn-primary">Add</a>
          <!-- after user adds part it should not allow him to submit another time and re-route him to the system builder -->
        </p>
      </td>
    </tr>
  </tbody>
</table>
